<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Questackular!</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/fontawesome/css/font-awesome.css" />
    <link href="/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/lodash.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="ScavengerApp">
    <navbar></navbar>
    <div class="container">
    <div ui-view></div>
    </div>
</body>
</html>