<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">Questackular!</a>
    </div> 
    <!--  end of navbar-header -->
    <div class="collapse navbar-collapse" id="nav-states">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in items"><a ui-sref="{{item.state}}">{{item.label}}</a></li>
      </ul>

      <div ng-show="user" class="nav navbar-nav nav-bar navbar-right">
        <a ui-sref ="MyQuests" class="navbar-brand">Welcome, {{ user.google.name }}!</a>
        <div class ="navbar-brand" ng-click="logout()">Logout</div>
      </div>
    </div>
    <!-- end navbar-collapse -->
  </div> 
  <!-- end of container-fluid -->
</nav>