<div class="container" id="myQCont">
    <p>&nbsp;</p>
    <h1 class="text-muted">My Quests</h1>
    <div class="row" id="new-myquests">
        <div class="col-md-8">
            <h2><i class="fa fa-rocket"></i> Quests I've Joined
                <span class="clickable filter pull-right" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                    <i ng-click="search()" class="glyphicon mdi-content-filter-list"></i>
                </span>
            </h2>
            <div class="panel-body" ng-show="searchBox">
                <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Quests" ng-model="joinedQSearch"/>
            </div>
            
            <div class="well" ng-repeat="quest in questsJoined | filter:joinedQSearch">    
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-responsive img-thumbnail imgcontrol" src="{{quest.questId.questImage}}">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{quest.questId.title}}</h4>
                        <p>{{quest.questId.description}}</p>
                        <ul class="list-inline list-unstyled">
                            <li><span><i class="glyphicon glyphicon-calendar"></i> Category: {{quest.questId.cat.cat}}</span></li>
                            <li>|</li>
                            <li>
                                <a ng-click="leaveQuest(quest.questId._id, userId)" class="btn btn-danger btn-sm"><i class="fa fa-times-circle"></i> Leave Quest</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <p class="lead text-right"><i class="fa fa-history"></i> Completed Quests</p>
            <div class="list-group" ng-repeat="quest in questsCompleted track by $index">
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="mdi-file-folder">{{$index + 1}}</i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">{{quest.pointsFromQuest}} pts</div>
                        <h4 class="list-group-item-heading">{{quest.questId.title}} </h4>
                        <p class="list-group-item-text">{{quest.questId.description}}</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
            </div>
        </div>

    </div>
    <!-- end of row -->
    
</div>
