<div class="container" id="myQCont">
    <p>&nbsp;</p>
    <h1 class="text-muted">My Quests</h1>
    <div class="row" id="new-myquests">
        <div class="col-md-8">
            <h2><i class="fa fa-rocket"></i> Quests I've Joined
                <span class="clickable filter pull-right" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                    <i ng-click="search()" class="glyphicon mdi-content-filter-list"></i>
                </span>
            </h2>
            <div class="panel-body" ng-show="searchBox">
                <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Quests" ng-model="joinedQSearch"/>
            </div>
            
            <div class="well" ng-repeat="quest in questsJoined | filter:joinedQSearch">    
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-responsive img-thumbnail imgcontrol" ng-src="{{quest.questId.questImage || '//:0' }}">
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">{{quest.questId.title}}</h3>
                        <p>{{quest.questId.description}}</p>
                        <ul class="list-inline list-unstyled">
                            <li><span><i class="fa fa-folder-o"></i> {{quest.questId.cat.cat}}</span></li>
                            <li>|</li>
                            <li>
                                <a ng-click="leaveQuest(quest.questId._id, userId)" class="btn btn-danger btn-sm"><i class="fa fa-times-circle"></i> Leave Quest</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- completed quests -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-history"></i> Completed Quests</h4>
                </div>
                <div ng-if="!questCompleted.length" class="panel-body list-group">
                    <p class="lead text-muted">You haven't completed any quests yet.</p>
                </div>
                
                <div class="list-group panel-body" ng-repeat="quest in questsCompleted track by $index" ng-if="questCompleted.length>0">
                    <div class="list-group-item">
                        <div class="row-action-primary">
                            <i class="mdi-file-folder">{{$index + 1}}</i>
                        </div>
                        <div class="row-content">
                            <div class="least-content">{{quest.pointsFromQuest}} pts</div>
                            <h4 class="list-group-item-heading">{{quest.questId.title}} </h4>
                            <p class="list-group-item-text">{{quest.questId.description}}</p>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                </div>
                
            </div>
        </div>
        <!-- end of completed quests -->
        <hr class="divider" />
        <!-- myquest help -->
        <div class="col-lg-4" id="myquest-help">
        <div class="panel">
            <div class="panel-heading">
                <h4><i class="fa fa-question-circle"></i> Help</h4>
            </div>
            <div class="list-group instList panel-content">
                <br />
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="mdi-maps-directions-bike"></i>
                    </div>
                    <div class="row-content">
                        <div class="action-secondary"><i class="mdi-material-info"></i></div>
                        <h4 class="list-group-item-heading">Quests I've Joined</h4>
                        <p class="list-group-item">This box shows all of the quests you're currently participating in.</p>
                        <p class="list-group-item">You can choose to leave the quest.</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="mdi-maps-rate-review"></i>
                    </div>
                    <div class="row-content">
                        <div class="action-secondary"><i class="mdi-material-info"></i></div>
                        <h4 class="list-group-item-heading">Quests I've Completed</h4>
                        <p class="list-group-item">This is a list of all the quests you have completed. Well done!</p>
                        <p class="list-group-item">You also have the option to 'review past quests' to see how you did.</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
            </div>
        </div>    
        </div>
        <!-- end of myquest-help -->

    </div>
    <!-- end of row -->
    
</div>
