
<div class="well list-group">
    <div class="list-group-item">
	    <button class="btn btn-sm btn-primary" id="start-highlight" ng-show="selMode=='false'" ng-click="highlight(true)">Start Highlight</button>
	    <button class="btn btn-sm btn-primary" id="stop-highlight" ng-show="selMode=='true'" ng-click="highlight(false)">Stop Highlight</button>
	    <button class="btn btn-sm btn-primary" id="save-content" ng-show="selMode=='true'" ng-click="saveContent()">Save Content</button>
    </div>
</div>