<section id="create">
    <div>
        <tabset justified="true">
            <tab class="nav nav-tabs" ng-repeat="tab in tabs" ui-sref="{{ tab.state }}" heading="{{ tab.label }}" active="tab.active" disabled="tab.disabled" ng-if="tab.label=='New Quest' || (questExists == true && tab.label!='New Quest')">
            <h3></h3>
                <!-- <h3>{{ tab.label }}</h3> -->
            </tab>
        </tabset>
    </div>
    <div class="container" id="content">
        <ui-view></ui-view>
    </div>
</section>

