<div>
    <div id='mapCont'>
        <button type="button" class="btn btn-primary" ng-click='$parent.saveFullQuest()'>Save Quest &amp; All Steps</button>
        <div ng-if='$parent.stepList.length<1' class='noMap'>Ohnoes! Your Quest curently has zero steps!
            <hr/>
            <button class='btn btn-info btn-material-indigo' ng-click="tabs[1].active = true" ui-sref="create.step">
                <div class='arrowSpan'>&leftarrow;</div> Go back and create some steps!
            </button>
        </div>
        <div id='map'></div>
        <simple-line-chart></simple-line-chart>
    </div>
</div>