<div class="row">
    <div class="well col-md-8" id="quest-form">
        <form class="form-horizontal" name="newQuest" ng-submit="submitForm(quest) && $quest.valid">
            <fieldset>
                <legend>Create a new quest!</legend>
                <div class="form-group">
                    <label for="title" class="col-lg-3 control-label">Title</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" id="title" placeholder="Name of new quest!" ng-model="quest.title" required ng-change='saveQuest()' ng-class="{'has-error': quest.title.$invalid}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="description">Description</label>
                    <div class="col-lg-9">
                        <textarea class="form-control" id="description" rows="3" ng-model="quest.description" required ng-change='saveQuest()'></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="quest-image" title='Note: only active quests can be taken, and only inactive quests can be edited!'>Add an Image</label>
                    <div class="col-lg-9">
                        <button name="quest-image" class="btn btn-sm btn-default" ng-click="pickFile()">Add Quest Image</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="quest-photo" title='Note: only active quests can be taken, and only inactive quests can be edited!'>Active / Inactive</label>
                    <div class="col-lg-9">
                        <input type='radio' name='open-status' value='active' checked ng-model='quest.actInact' ng-change='saveQuest()'/> Active
                        <input type='radio' name='open-status' value='inactive' ng-model='quest.actInact' ng-change='saveQuest()' /> Inactive
                    </div>
                </div>
                <div class="form-group">
                    <label for='qCat' class="col-lg-3 control-label">Quest Category:</label>
                    <div class="col-lg-9">
                        <select class="form-control" ng-model='quest.cat.cat' ng-change='saveQuest();' name='qCat' required>
                            <option ng-repeat="cat in $parent.cats" value='{{cat.cat}}'> {{cat.cat}}
                        </select>
                        <p class="help-block">Select quest category.</p>
                        <div class="col-md-6">
                            <img class="img-responsive img-thumbnail" src='{{$parent.quest.cat.url}}'/>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-2">
                        <button class="btn btn-material-indigo" ng-show="tab.label=='New Quest' || (questExists == true && tab.label!='New Quest')" ng-click="tabs[1].active = true" ui-sref="create.step">Next: Add Steps to Quest</button>
                        <button type="button" class="btn btn-primary" ng-click='$parent.saveFullQuest()'>Save Quest without Steps</button>
                        <button class="btn btn-default" ng-click="$parent.clearData();">Clear</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- end of quest-form -->
    <div class="col-md-4">
        <div class="list-group instList">
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-content-create"></i>
                </div>
                <div class="row-content">
                    <div class="action-secondary"><i class="mdi-material-info"></i></div>
                    <h4 class="list-group-item-heading">Not sure where to start?</h4>
                    <p class="list-group-item">Create a quest title!</p>
                    <p class="list-group-item">Give your quest a cool description!</p>
                    <p class="list-group-item">Pick a category (image) for your quest!</p>
                </div>
            </div>
            <div class="list-group-separator"></div>

            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-action-lock-open"></i>
                </div>
                <div class="row-content">
                    <div class="action-secondary"><i class="mdi-material-info"></i></div>
                    <h4 class="list-group-item-heading">Pick whether you you want the quest to start as active or inactive!</h4>
                    <p class="list-group-item">Active: can be played immediately, but can't be edited.</p>
                    <p class="list-group-item">Inactive: can't be played immediately, but can still be edited (i.e., made more awesome!).</p>
                </div>
            </div>
            <div class="list-group-separator"></div>
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-action-exit-to-app"></i>
                </div>
                <div class="row-content">
                    <div class="action-secondary"><i class="mdi-material-info"></i></div>
                    <h4 class="list-group-item-heading">Click on 'New Step' to give your quest some steps!</h4>
                    <!-- <p class="list-group-item">You can't create steps without making a quest first.</p> -->
                </div>
            </div>
            <div class="list-group-separator"></div>
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-maps-pin-drop"></i>
                </div>
                <div class="row-content">
                    <div class="action-secondary"><i class="mdi-material-info"></i></div>
                    <h4 class="list-group-item-heading">Click on 'Review Quest' to see a diagram of your quest!</h4>
                    
                </div>
            </div>
        </div>

    </div>
    <!-- end of quest-help -->
</div>
