<div class="row">
    <div class="col-md-8">
        <form name='stepForm'>
            <div id="legend">
                <legend>Add a step!</legend>
            </div>
            <!-- the actual content! -->
            <div class="form-group">
                <label for='mainQ'>Question:
                    <input type='text' class="form-control" required name='mainQ' ng-model='step.question' />
                    <p class="help-block">Enter your new question.</p>
                </label>
            </div>

            <div class="form-group">
                <label for="tags">Tags</label>
                <input type="text" class="form-control" id="tags" placeholder="Enter tags, separated by comma." ng-model="step.tagStr" required ng-change='saveQuest()'>
            </div>
            <div class="form-group">
                <label for='pointsQ'>Point value:
                    <input type='number' class="form-control" required name='pointsQ' ng-model='step.pointValue' />
                    <p class="help-block">Number of points awarded for a correct answer.</p>
                </label>
            </div>
            <div class="form-group">
                <label for='typeQ'>What kind of question is it?:
                    <select class="form-control" ng-model='step.qType' ng-change='updateQuestionFields();' name='typeQ' required>
                        <option ng-repeat="test in testTypes" value='{{test}}'> {{test}}
                    </select>
                    <p class="help-block">Select the type of question you would like to add.</p>
                </label>
            </div>
            <!-- Generic Question section. Shows always -->

            <!-- Multiple Choice section -->
            <div class='form-group' ng-if='step.qType=="Multiple Choice"'>
                <p class="help-block">Please enter some answer options.</p>
                <label class="form-inline" for='multiAns1'>Answer option 1:
                    <input class="form-control" type='text' name='multiAns1' ng-model='step.ans1'>
                    <input type='radio' name='correctAnsPick' value='1' checked ng-model='step.multiAnsCor' />Pick this answer
                </label>
                <br/>
                <label class="form-inline" for='multiAns2'>Answer option 2:
                    <input class="form-control" type='text' name='multiAns2' ng-model='step.ans2'>
                    <input type='radio' name='correctAnsPick' value='2' checked ng-model='step.multiAnsCor' />Pick this answer
                </label>
                <br/>
                <label class="form-inline" for='multiAns3'>Answer option 3:
                    <input class="form-control" type='text' name='multiAns3' ng-model='step.ans3'>
                    <input type='radio' name='correctAnsPick' value='3' checked ng-model='step.multiAnsCor' />Pick this answer
                </label>
                <br/>
                <label class="form-inline" for='multiAns4'>Answer option 4:
                    <input class="form-control" type='text' name='multiAns4' ng-model='step.ans4'>
                    <input type='radio' name='correctAnsPick' value='4' checked ng-model='step.multiAnsCor' />Pick this answer
                </label>
                <br/>
            </div>
            <!-- Fill-In -->
            <div class='form-group' ng-if='step.qType=="Fill-in"'>
                <label for='ansTextArea'>Answer?
                    <input type='text' class="form-control" name='ansTextArea' ng-model='step.fillIn'>
                </label>
                <br/>
            </div>
            <!-- iframe for page stuff -->
            <div class='form-group'>
                <label for='urlBox'>Page Url?
                    <input type='text' class="form-control" name='urlBox' ng-model='step.url'>
                </label>
                <br/>
            </div>
            <button type="button" class="btn btn-default" ng-click='saveStep(step)'>Create Step</button>
        </form>
        <!-- List of currently (previously?) created steps -->
        <br/>
        <h2>Current Steps:</h2>
        <table class='table table-responsive table-striped'>
            <tr class='success'>
                <th>Question</th>
                <th>Type</th>
                <th>Points</th>
            </tr>
            <tr ng-if='$parent.stepList.length<1'>
                <td colspan='3'>No steps yet! Add a step above!</td>
            </tr>
            <tr ng-repeat='oldStep in $parent.stepList track by $index'>
                <td>{{oldStep.question}}</td>
                <td>{{oldStep.qType}}</td>
                <td>{{oldStep.pointValue}}</td>
            </tr>
        </table>
        <!-- save or move to next state -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="pull-right">
                    <button type="button" class="btn btn-success" ng-click='$parent.saveFullQuest()'>Save</button>
                    <!-- <button class="btn btn-primary" ui-sref="{{ tabs[2].state }}" ng-click="tabs[2].active = true">Next</button> -->
                    <button class="btn btn-default clearButton" ng-click="$parent.clearData();">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>