* {
  box-sizing: border-box; }

body {
  position: relative;
  top: 80px;
  width: 400px;
  height: 500px; }

.clearButton {
  background-color: #795455; }
  .clearButton:hover {
    background-color: #3E292A; }

#mapBg {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 1786px;
  height: 1504px;
  background-image: url('/js/common/map.png');
  border: 2px solid #f00;
  padding: 3px; }
  #mapBg .mapItem {
    width: 10vw;
    height: 10vh;
    background-color: #FFF0E1;
    box-shadow: 2px 2px 4px #000;
    position: absolute;
    z-index: 1;
    transition-duration: .5s; }
    #mapBg .mapItem:hover {
      z-index: 10;
      transform: rotate(5deg); }
    #mapBg .mapItem h4 {
      width: 100%;
      height: 20px;
      position: relative;
      top: 0px;
      text-align: center;
      background-color: #B9AB9C; }

.alert {
  position: fixed;
  z-index: 10; }

.alert-warning {
  background-color: #B80000; }

.store {
  font-size: small;
  width: 100%;
  transform-style: preserve-3d; }
  .store .storeBuyBut {
    font-size: xx-large;
    cursor: pointer;
    transition-duration: .5s; }
    .store .storeBuyBut:hover {
      content: "\D83C\00a0";
      transform: rotateY(720deg); }

.removeQuestButton {
  width: 25px;
  height: 25px;
  background-color: #a55;
  color: #fff;
  text-align: center; }
  .removeQuestButton:hover {
    background-color: #922; }

.navbar-brand {
  cursor: pointer; }

.modal-dialog {
  top: 20px; }

.bootbox-close-button .close {
  margin-top: 10px; }

.modal-body > button {
  border: 1px solid red;
  padding-top: 20px !important; }

.bootbox-body {
  padding-top: 10px; }

.selTableOff {
  background-color: #ccc; }

.selModeRadio {
  transition-duration: .5s; }

.kard {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.kard {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box; }

.kard span.kard-title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase; }

.kard .kard-image {
  position: relative;
  overflow: hidden; }

.kard .kard-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1; }

.kard .kard-image span.kard-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
  background: #00bcd4; }

.kard .kard-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box; }

.kard .kard-content p {
  margin: 0;
  color: inherit; }

.kard .kard-content span.kard-title {
  line-height: 48px; }

.kard .kard-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px; }

.kard .kard-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase; }

.kard .kard-action a:hover {
  color: #ffd8a6;
  text-decoration: none; }
