<h3>Quests I've Joined</h3>
<div class="col-md-6 col-md-offset-3">
	<!-- individual card begins -->
    <div class="well" ng-if="!questsJoined.length">
        <p>You haven't joined any quests yet. Go to the<a ui-sref="join" class="btn btn-xs btn-material-blue-grey">Join a Quest</a> page to pick one and join!</p>
    </div>
    <div class="kard" ng-repeat="quest in questsJoined track by $index" ng-if="questsJoined.length">
        <div class="kard-image">
            <img class="img-responsive" src="http://i.imgur.com/Apx8TnD.jpg">
            <span class="kard-title">{{quest.questId.title}}</span>
        </div>
        
        <div class="kard-content">
            <p>{{quest.questId.description}}</p>
        </div>
        
        <div class="kard-action">
            <a ng-click="continueQuest($index)" class="btn btn-sm btn-primary"><i class="mdi-maps-directions-walk"></i></a>
            <a ng-click="leaveQuest(quest.questId._id, userId)" class="btn btn-sm btn-warning"><i class="mdi-navigation-cancel"></i></a>
        </div>
    </div>
    <!-- individual card ends -->
</div>
	
	

