<h3>Join a Quest</h3>

<div class="well" ng-if="!unjoinedQuests.length">
        <p>No more quests available to join. Go to<a ui-sref="myQuests" class="btn btn-xs btn-material-blue-grey">My Quests</a> to embark or continue on a quest!</p>
    </div>
	
<div class="well" ng-if="unjoinedQuests.length">
	<div>
		<alert ng-repeat="alert in alerts" ng-show="alert.show" class="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>
	
	<div class="list-group" >
		<div ng-repeat="quest in unjoinedQuests track by $index">
		    <div class="list-group-item">
		        <div class="row-action-primary">
		            <i class="mdi-maps-navigation btn btn-xs" ng-click="joinQuest(quest)"></i>
		            <!-- <i class="fa fa-hand-o-up" ng-click="joinQuest(quest)"></i> -->
		            <!-- <button title='Join this quest!' class='btn btn-xs btn-success mdi-action-exit-to-app' ng-click="joinQuest(quest)">Join</button> -->
		        </div>
		        <div class="row-content">
		            <div class="least-content">
		            	
		            </div>
		            <h4 class="list-group-item-heading">{{quest.title}}</h4>
		            <p class="list-group-item-text">{{quest.description}}</p>
		        </div>
		    </div>
		    <div class="list-group-separator"></div>
	    </div>
	</div>

</div>