<div class="container-fluid">
    <p>&nbsp;</p>
    <div class="row">
        <h1 class="col-md-6"><i class="fa fa-link"></i> Link Library</h1>
        <h1 class="col-md-6 text-right text-muted"><a ng-click="filter()"><i class="fa fa-filter"></i></a></h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ng-show="showFilter">
                <form class="form-group form-inline">
                    <label for="filter">Filter: </label>
                    <input name="filter" type="search" class="form-control" id="input-search" placeholder="Filter links in library" ng-model="linkFilter">
                </form>
            </div>

            <div class="panel" ng-if="!links.length">
                <div class="panel-body">
                    <h2 class="text-muted">You don't have any links saved yet! Please go to the extension to save some.</h2>
                </div>
            </div>
            <div class="well" ng-repeat="link in links | filter:linkFilter" ng-if="links.length">
                <div class="media">
                    <a class="pull-left" href="#">
                        <span><i class="fa fa-link fa-2x"></i></span>
                    </a>
                    <div class="media-body">
                        <a href="{{link.url}}" target="_blank">
                            <h3 class="media-heading">{{link.title}}</h3>
                        </a>
                        <p class="text-right">
        <!--                     <a href="{{link.url}}" target="_blank">
                                <span><i class="fa fa-link fa-2x"></i></span>
                            </a> -->
                        </p>
                        <p class="lead">Highlighted text snippet(s):</p>
                        <blockquote ng-if="!showAll">{{link.highlighted[0]}}</blockquote>
                        <blockquote ng-if="showAll">
                            <ul>
                                <li ng-repeat="snippet in link.highlighted track by $index">{{snippet}}</li>
                            </ul>
                        </blockquote>
                        <ul class="list-inline list-unstyled">
                            <li>
                                <span><i class="glyphicon glyphicon-calendar"></i> Saved on {{link.date}} at {{link.time}}</span>
                            </li>
                            <li>|</li>
                                <a ng-click="allSnippets()">
                                    <span><i class="glyphicon glyphicon-pencil"></i> {{link.highlighted.length}} snippets highlighted</span>
                                </a>
                            <li>|</li>
                            <li>
                                <a ng-click="promptCopy(link.url)"><span><i class="fa fa-clipboard"></i> Copy Link to Clipboard</span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- end of media-body -->
                </div>
                <!-- end of media -->
            </div>
            <!-- end of well -->
        </div>
    </div>
    <!-- end of row -->
</div>