<div class="container">
	
	<!-- <div ng-repeat="step in steps" ng-if="">
	</div> -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{chosenQuest.questId.title}}</h3>
		</div>
		<div class="panel-body">
			{{step.question}}
		</div>
		<div class="panel-body">
			<input ng-hide="multipleChoice" ng-model="userAnswer" type="text" class="form-control" placeholder="Answer">

			<div class="row" ng-show="multipleChoice">
				<div class="col-md-6">
					<div>
						<div>
							<input ng-model="selectedAnswer" type="radio" name="radio" value="0" />
							<label for="radio1">{{step.multipleAns[0]}}</label>
						</div>
						<div>
							<input ng-model="selectedAnswer" type="radio" name="radio" value="1" />
							<label for="radio1">{{step.multipleAns[1]}}</label>
						</div>
						<div>
							<input ng-model="selectedAnswer" type="radio" name="radio" value="2" />
							<label for="radio1">{{step.multipleAns[2]}}</label>
						</div>
						<div>
							<input ng-model="selectedAnswer" type="radio" name="radio" value="3" />
							<label for="radio1">{{step.multipleAns[3]}}</label>
						</div>
					</div>
				</div>
			</div><!-- end row -->
<!-- 			<button ng-click ="submit()">Submit</button>
			<alert ng-if="alertshow" class="danger">Try Again!</alert> -->
			
		</div>
		<button class="btn btn-material-blue-grey btn-sm" ng-click ="submit()">Submit</button>
		<button class="btn btn-material-brown btn-sm" ng-click ="giveUp(step.pointValue)">Give up</button>
		
	</div>

	<button class="btn btn-info btn-sm" ng-click="launchReading()">Click to Launch Reading for this Question</button>
</div>

<nav class="navbar navbar-material-cyan navbar-fixed-bottom">
<progressbar class="progress-striped active" value="progressPct" type="{{progressType}}"></progressbar>
	<div class="list-group">
		<div class="list-group-item">
	        <div class="row-action-primary checkbox">
	            <!-- <label><input type="checkbox"></label> -->
	        </div>
	        <div class="row-content">
	        	<div class="least-content">{{userQuestPts}}</div>
	            <h4>{{chosenQuest.questId.title}}</h4>
	            <p class="list-group-item-text">You are on step {{step.stepNum}} of {{totalStepNum}} steps</p>
	        </div>
	    </div>
	</div>

</nav>
