<section id="editStuff">
    <div>
        <tabset justified="true">
            <tab ng-repeat="tab in tabs" ui-sref="{{ tab.state }}" heading="{{ tab.label }}" active="tab.active" disabled="tab.disabled" ng-if="tab.label=='New Quest' || (questPicked == true && tab.label!='New Quest')">
                <h3>{{ tab.label }}</h3>
            </tab>
        </tabset>
    </div>
    <div class="container" id="content">
        <ul class='instList'>
            What do?
            <li>Pick a quest!</li>
            <li>Uncheck 'Open' to edit your quest!</li>
            <li>Click 'Edit Step' to edit any steps your quest has!</li>
            <li>Click 'View Map to see an awesome view of your quest!</li>
            <li>Click 'Save' to make your quest even more awesome (and save it too)!</li>
            <li>Or click 'Clear' if your quest is already awesome enough!</li>
        </ul>
        <ui-view></ui-view>
    </div>
</section>