<div class="row">
    <div class="col-md-8">

        <!-- List of currently (previously) created steps -->



        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Editable Steps for Quest: {{quest.title}}</h3>
                <div class="pull-right">
                    <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                <i ng-click="search()" class="glyphicon glyphicon-filter"></i>
                </span>
                </div>
            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Question</th>
                        <th>Type</th>
                        <th>Point Value</th>
                        <th>URL</th>
                        <th>Tags</th>
                        <th>Clues</th>
                        <th>Answer(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='step in $parent.stepList'>
                        <td editable-text='step.stepNum'>{{step.stepNum}}</td>
                        <td editable-text='step.question'>{{step.question}}</td>
                        <td editable-select='step.type' e-ng-options='item for item in testTypes'>{{step.type}}
                        </td>
                        <td editable-text='step.pointValue'>{{step.pointValue}}</td>
                        <td editable-text='step.url'>{{step.url}}</td>
                        <td editable-text='step.tags'>{{step.tags.join()}}</td>
                        <td editable-text='step.clues'>
                            <span ng-if='step.clues.length>0'>{{step.clues}}</span>
                            <span ng-if='step.clues.length<=0'>No clues yet!</span>
                        </td>
                        <td ng-if="step.type=='Multiple Choice'">
                            <div editable-text>{{step.multipleAns[0].ans || "nothing yet!"}}</div>
                        </td>
                        <td ng-if="step.type=='Fill-in'">
                            <span editable-text='step.fillIn'>{{step.fillIn}}</span>
                        </td>
                        <td ng-if="step.type=='Short Answer'">(short answers must be reviewed by Quest Creator)</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <button ng-click='$parent.showData()'>SHOW DATA. ALSO DELETE ME. HI EVERYONE</button>
        <!-- save or move to next state -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="pull-right">
                    <button type="button" class="btn btn-success" ng-click='$parent.saveFullQuest()'>Save</button>
                    <button class="btn btn-primary" ui-sref="{{ tabs[2].state }}" ng-click="tabs[2].active = true">Next</button>
                    <button class="btn btn-default clearButton" ng-click="$parent.clearData();">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>