<h2>Edit Quests Created</h2>
<div class='row'>
    <div class="col-md-8">
        <div id="alerts">
            <alert ng-repeat="alert in alerts" ng-show="alert.show" type="{{alert.type}}" class="alert" close="closeAlert($index)">
                <div style='font-size:xx-large;'>!</div>
                <div>{{alert.msg}}</div>
            </alert>
        </div>
        <div class="panel panel-material-blue-grey">
            <div class="panel-heading">
                <h3 class="panel-title">Editable Quests</h3>
                <div class="pull-right">
                    <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                    <i ng-click="search()" style='top:-20px;' class="glyphicon mdi-content-filter-list"></i>
                    </span>
                </div>
            </div>
            <div class="panel-body" ng-show="searchBox">
                <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Quests" ng-model="editQSearch"/>
            </div>
            <button ng-click='$parent.showData();'>CLICK ME PLS LOLTHX</button>
            <table class="table table-hover" id="dev-table">
                <thead>
                    <tr>
                        <th>Picked</th>
                        <th>Quest Title</th>
                        <th>Quest Description</th>
                        <th>Open?</th
>                        <th>Edit Steps (if open)</th>
                        <th>Current Participants</th>
                        <th>Invite More Participants</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- show 1st block if quests are inactive, and thus editable -->
                    <tr ng-repeat='quest in questList | filter:editQSearch' ng-if='quest.active==false'>
                        <td>
                            <input type='radio' name='pickedQuest' value='{{quest.title}}' ng-change='$parent.pickQuest(quest._id)' ng-model='$parent.selectedQuest'>
                        </td>
                        <td editable-text='quest.title'>{{quest.title}}</td>
                        <td editable-text='quest.description'>{{quest.description}}</td>
                        <td>
                            <input type='checkbox' ng-model='quest.active' checked='false' ng-change='$parent.checkOpenStatus(quest)' ng-click='(quest.active)?quest.active=false:quest.active=true;' />
                        </td>
                        <td><button type="button" class="btn btn-info btn-xs" ui-sref="edit.step">Edit
                        </button></td>
                        <td editable-text='quest.participants'>
                            <span ng-if='quest.participants.length>0'>{{name}}</span>
                            <span ng-if='quest.participants.length<=0'>No participants yet!</span>
                        </td>
                        <td><button type="button" class="btn btn-info btn-xs" ui-sref="home">Invite
                        </button></td>
                    </tr>
                    <!-- show 2nd block if quests are active, and thus ineditable -->
                    <tr ng-repeat='quest in questList | filter:editQSearch' ng-if='quest.active==true'>
                        <td>
                            <input type='radio' name='pickedQuest' value='{{quest.title}}' ng-change='$parent.pickQuest(quest._id)' ng-model='$parent.selectedQuest' disabled title='You can&rsquo;t edit an active quest!'>
                        </td>
                        <td>{{quest.title}}</td>
                        <td>{{quest.description}}</td>
                        <td>
                            <input type='checkbox' ng-model='quest.active' ng-change='$parent.checkOpenStatus(quest)' ng-click='(quest.active)?quest.active=false:quest.active=true;' />
                        </td>
                        <td><button type="button" class="btn btn-default btn-xs" disabled="true">Uncheck 'Open' to Edit
                        </button></td>
                        <td>
                            <span ng-if='quest.participants.length>0'>{{name}}</span>
                            <span ng-if='quest.participants.length<=0'>No participants yet!</span>
                        </td>
                        <td><button type="button" class="btn btn-info btn-xs" ui-sref="edit.invite">Invite
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="pull-right">
                    <button type="button" class="btn btn-success" ng-click='$parent.saveFullQuest()'>Save</button>
                    <!-- <button class="btn btn-primary" ui-sref="{{ tabs[1].state && !tab.disabled}}" ng-click="tabs[1].active = true">Next</button> -->
                    <button class="btn btn-info clearButton" ng-click="$parent.clearData();">Clear</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4" id="editquest-help">
        <div class="list-group instList">
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-editor-border-color"></i>
                </div>
                <div class="row-content">
                    <div class="action-secondary"><i class="mdi-material-info"></i></div>
                    <h4 class="list-group-item-heading">Pick a quest to edit!</h4>
                    <p class="list-group-item">Uncheck 'Open' to edit your quest!</p>
                    <p class="list-group-item">Click 'Edit Step' to edit any steps your quest has!</p>
                </div>
            </div>
            <div class="list-group-separator"></div>

            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-maps-pin-drop"></i>
                </div>
                <div class="row-content">
                    <div class="action-secondary"><i class="mdi-material-info"></i></div>
                    <h4 class="list-group-item-heading">Click 'View Map' to see an awesome view of your quest!</h4><!-- 
                    <p class="list-group-item">Uncheck 'Open' to edit your quest!</p> -->
                </div>
            </div>
            <div class="list-group-separator"></div>

            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-content-save"></i>
                </div>
                <div class="row-content">
                    <div class="action-secondary"><i class="mdi-material-info"></i></div>
                    <h4 class="list-group-item-heading">Don't forget to save!</h4>
                    <p class="list-group-item">Click 'Save' to make your quest even more awesome (and save it too)!</p>
                    <p class="list-group-item">Click 'Edit Step' to edit any steps your quest has!</p>
                </div>
            </div>
            <div class="list-group-separator"></div>

        </div>
    </div>
</div>