* {
  box-sizing: border-box;
}

body {
	position: relative;
	top: 80px;
}

.clearButton{
	background-color: #795455;
	
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// @import 'directives/main';
// @import 'home/main';
// @import 'about/main';
// @import 'tutorial/main';
// @import 'login/main';