<h1>{{yayMessage}}</h1>
<hr/>
Here's what you can buy!
<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Store</h3>
					</div>
					<table class="table table-hover storeTable" id="dev-table">
						<thead>
							<tr>
								<th>Image</th>
								<th>Title</th>
								<th>Description</th>
								<th>Price</th>
								<th>Buy!</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="quest in questsCreated track by $index">
								<td><img width='75' height='75' src='{{item.title}}'></td>
								<td>{{item.title}}</td>
								<td>{{item.description}}</td>
								<td>{{item.price|currency}}</td>
								<td><span style='font-size:xx-large' ng-click='buy(item.id,item.price)'>&#128176;</span></td>
							</tr>
						</tbody>
					</table>
				</div>
<button ng-click="continue()">Continue</button>
