<h1>{{yayMessage}}</h1>
<hr/> Here's what you can buy!
<div id='currMonies'>You currently have: {{totalPoints}} points</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Store</h3>
    </div>
    <table class="table table-hover storeTable store" id="dev-table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Price</th>
                <th>Buy!</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in allItems track by $index" ng-if='item.owned==false'>
                <td>{{item.title}}<br/><img width='50' height='50' src='{{item.url}}'>
                </td>
                <td>{{item.description}}</td>
                <td>{{item.price+' pts'}}</td>
                <td><span class='storeBuyBut' ng-click='buy(item)'>&#128176;</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Currently Owned</h3>
    </div>
    <table class="table table-hover storeTable store" id="dev-table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in allItems track by $index" ng-if='item.owned==true'>
                <td>{{item.title}}<img width='50' height='50' src='{{item.url}}'>
                </td>
                <td>{{item.description}}</td>
                <td>{{item.price+' pts'}}</td>
            </tr>
        </tbody>
    </table>
</div>
<button class="btn btn-primary" ng-click="continue()">Continue</button>